<%- include('./partials/header') %>
  <div class="container1">
    <div id="leftdiv">
      <div id="row1">
        <div id="img">
          <img src="img/breath_jt.jpg" width = "80px";
            height = "70px";><br>
          </div>
        <div id="names">
          <p><strong>Xinxin Xue</strong></p>
            <p>@intelcoll<p><br>
        </div>
        <p class="message">Messages</p>
        <p class="message">12</p>
      </div>

      <div id="row2">
        <h4 style="text-align: center">Trending AweTweets</h4><br>
          <ul style="list-style:none">
            <% for (let i of trending) { %>
              <a href=""><li><%= i %></li></a>
            <% } %>
          </ul>
        </div>
    </div>

    <div id="rightdiv">
      <div id="rightrow1">
        <form action = "/dash" method="post">
          <div>
            <label for="name">User</label>
            <input type="text" name="name">
          </div>
          <div>
          <textarea class="form-control hresize" name="tweet" rows="8" cols="80" maxlength="255"></textarea></div>
          <input type="submit" name="submit"></input>
        </form>

        <% for (let i in cookies) { %>
          <div id = "tweets">
            <div>
              <img src = "img/puzzle_jt.jpg" width="30" height="30">
            </div>
            <div id = "tweets_1">
              <div id = "user">
                  <%= i %>
              </div>
              <div id="content">
                  <%= cookies[i] %>
              </div>
              <div id="date">
                  <%= date %>
              </div>
          </div>
      </div>
      <% } %>

      <div class="panel panel-default">
        <div class="panel-body">
          <textarea name="randomtweets" rows="4" cols="80">
            <%=faker.lorem.paragraphs(1)%>
          </textarea><br>
          </div>
      </div>



      </div>



    </div>
  </div>
